
.container {
  z-index: 3;
  float: right;
  // width: 830px;
  width: 65vw;
  margin: 0;
  right: 7vw;

  position: absolute;
  top: 52.5%;
  transform: translateY(-50%);

  .intro {
    color: #00011c;
    // width: 740.3px;
    // margin: 0;
    // right: 5vw;
    bottom: 8vh;

    h1,h2,p {
      margin: 0px;
    }

    h1 {
      font-size: 126px;
      font-weight: 100;
      text-align: right;
    }

    h2 {
      font-style: italic;
      font-size: 36px;
      font-weight: 100;
      text-align: right;
      // top: 3vh;
      top: 24px;
    }

    .info_container {
      // top: 6vh;
      top: 60px;
      float: right;

      .info_second_container {
        width: 490px;
        float: inherit;

        p {
          color: #000000;
          text-align: right;
          // font-family: Helvetica;
          font-weight: normal;
          font-size: 22px;
        }
      }
    }
  }
}

@media screen and (max-width:767px) {
  .container {
    width: 95%;
    right: 2.5%;
    text-align: center;

    top: 60%;

      .intro {
        bottom: 0;

        h1,h2,p {
          text-align: left;
        }
        h1 {
          font-size: 14.25vw;
        }
        h2 {
          font-size: 6vw;
        }
        .info_container {
          text-align: left;
          .info_second_container {
            width: 100%;
            p {
              text-align: left;
              font-size: 2.5vh;
            }
          }
        }
      }
    }
}
