
.homepage {
  background-image: url("/background/background.jpeg");
  background-position: 20% 50%;
  background-position-x: 20%;
  background-position-y: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-position: 12%;
}
