/*
 * CSS Code skeleton by Chris Sevilleja, editted by Saaqeb.
 * Visit his codepen: https://codepen.io/chrisoncode
 */

.contact-bar {
  height: 96px;
  margin: 0 auto;
  left: 22px;

  span {
    margin: 20px 30px 20px 20px;
    opacity: 0.75;
    // filter: alpha(opacity=60);
  }
  span:hover {
    color: #ffffff;
    opacity: 2;
    filter: alpha(opacity=200);
  }
}

.form {
  margin-left: 25px;
}

.error {
  display: none;
}

.contact {
  // top: 200px;
  // background-color: rgb(39,110,138);
  background-color: rgb(31, 61, 98);
  width: 100%;
  height: 70vh;
  z-index: 4;
}

.contact-contain {
  margin: 0 auto;
  width: 297px;
  display: absolute;
  top: 40%;       // change this when working with the form
}

.lable {
  text-align: center;
  margin-bottom:50px;
  color: #000000;
  font-size: 38px;
}

@media screen and (max-width: 700px){

}

@media screen and (max-width: 343px){

}
